/* Agencement de la page avec CSS Flexbox */

@media screen and (max-width : 1440px) {

  header.header, nav.menu, div.menu-items{
    display: flex;
  }

  header h1.UE{
    flex-grow: 3;
    padding: 15px 0px;
  }

  div.menu-items{
    justify-content: flex-end;
  }

  span.icon_nav, span.icon_nav i:nth-child(2){
    display: none;
  }

  article.illustr{
    display: flex;
  }

}


@media screen and (max-width : 560px) {
  span.icon_nav{
    display: flex;
    padding: 18px 5px;
  }

  /* div.menu-items{
    display: none;
  } */

  article.illustr{
    display: inline-block;
  }

  .illustration{
    text-align: center;
}

  div.menu-items{
    display: inline-block;
    position : absolute;
    top : 53px;
    right : 0px;
    overflow : auto;
  }


}
